.noFaves-list{
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  opacity: 0.6;
}

.fave-header {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
}

.fave-li {
  float: left;
  font-size: 26px;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 8px;
  background-color: whitesmoke;
}

.fave-list{
  width: 40%;
  margin: 0 auto;
  opacity: 0.9;
}

.fave-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.delete {
  font-size: 24px;
  color: red;
  font-weight: bold;
  border: none;
  background-color: whitesmoke;
  float: right;
  cursor: pointer;
}

.back-btn {
    font-size: 24px;
    padding: 3px;
    text-align: center;
    margin: 0 auto;
    width: 8%;
    margin-top: 2%;
    border: 1px solid whitesmoke;
    border-top: black;
    border-left: black;
    border-right: black;
}

.back {
  text-decoration: none;
  color: whitesmoke;
}

@media only screen and (max-width: 500px) {

  .fave-list {
    width: 90%;
  }

  .back-btn {
    margin-top: 5%;
    width: 35%;
  }

}

@media only screen and (max-width: 900px) and (min-width: 500px) {

  .fave-header {
    font-size: 52px;
    margin-top: 8%;
  }

  .noFaves-list {
    font-size: 32px;
  }

  .back {
    font-size: 34px;
  }

  .back-btn {
    width: 30%;
  }

  .fave-li {
    font-size: 30px;
  }

  .fave-list {
    width: 65%;
  }

  .delete {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 900px) {

  .fave-header {
    font-size: 70px;
    margin-top: 10%;
  }

  .fave-li {
    font-size: 40px;
  }

  .delete {
    font-size: 32px;
  }

  .back-btn {
    width: 30%;
  }

  .back {
    font-size: 38px;
  }

  .noFaves-list {
    font-size: 40px;
  }

  .fave-list {
    width: 60%;
  }

}