.welcome-guest {
    text-align: center;
    color: whitesmoke;
    font-size: 36px;
    margin-top: 10px;
}


.directions-link {
    color:whitesmoke;
    font-size: 22px;
    cursor: pointer;
}

.zipcode-input {
    margin-left: 8px;
    background-color: black;
    color: whitesmoke;
    font-size: 17px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    caret-color: whitesmoke;
}

.zipcode-text {
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}

.zipcode-submit {
    margin-left: 8px;
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
}

.place-photo {
    height: 175px;
    width: 275px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.feedme-guest {
    display: block;
    margin: 0 auto;
    width: 125px;
}

.intro-guest {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}

.results-guest {
    color: whitesmoke;
    font-size: 28px;
}

.results-display {
    font-size: 28px;
    color: whitesmoke;
}

.options-guest {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.select-guest {
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.start-button-guest {
    font-weight: bold;
    width: 19%;
    background-color: black;
    border-top: black;
    border-left: black;
    border-right: black;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.not-logged-in-link-guest {
    text-decoration: none;
    color: whitesmoke;
    opacity: 0.8;
    font-size: 20px; 
}
.link-guest {
    border: none;
    text-align: center;
    margin-top: 3%;
}

@media only screen and (max-width: 500px) {

    .welcome-guest {
        font-size: 24px;
        padding: 0 10px;
    }

    .place-photo {
        height: 150px;
        width: 250px;
    }

    .feedme-guest {
        width: 100px;
        padding: 5px 0;
    }

    .results-display {
        font-size: 24px;
    }

    .results-guest {
        font-size: 24px;
    }

    .intro-guest {
        margin: 10px auto 20px;
    }

    .select-guest {
        font-size: 18px;
    }

    .start-button-guest {
        width: 60%;
        font-size: 18px;
    }

    .link-guest {
        margin-top: 10%;

    }

    .not-logged-in-link-guest {
        font-size: 18px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {

    .welcome-guest {
        font-size: 38px;
        margin-top: 5%;
    }

    .zipcode-input {
        font-size: 28px;
        width: 100px;
    }

    .zipcode-text {
        font-size: 28px;
    }

    .zipcode-submit {
        font-size: 29px;
        border-color: whitesmoke;
    }

    .place-photo {
        height: 300px;
        width: 400px;
    }

    .directions-link {
        font-size: 34px;
    }

    .feedme-guest {
        width: 20%;
        margin-top: 5%;
    }

    .results-guest {
        font-size: 36px;
    }

    .results-display {
        font-size: 36px;
    }

    .intro-guest {
        margin: 50px 50px;
    }

    .start-button-guest {
        width: 50%;
        font-size: 30px;
    }

    .select-guest {
        font-size: 30px;
    }

    .not-logged-in-link-guest {
        font-size: 24px;
    }

    .link-guest {
        margin-top: 10%;
    }

}

@media screen and (max-width: 1050px) and (min-width: 900px) {

    .welcome-guest {
        font-size: 44px;
        margin-top: 5%;
    }

    .feedme-guest {
        width: 200px;
        margin-top: 5%;
    }

    .zipcode-text, .zipcode-submit {
        font-size: 38px;
    }

    .zipcode-input {
        width: 125px;
        font-size: 36px;
        border-color: whitesmoke;
    }

    .place-photo {
        height: 400px;
        width: 650px;
    }

    .directions-link {
        font-size: 36px;
    }

    .results-guest {
        font-size: 40px;
    }

    .results-display {
        font-size: 40px;
    }

    .intro-guest {
        margin: 200px, 100px;
    }

    .options-guest {
        margin-top: 75px;
    }

    .start-button-guest {
        width: 45%;
        font-size: 36px;
    }

    .select-guest {
        font-size: 36px;
    }

    .not-logged-in-link-guest {
        font-size: 28px;
    }

    .link-guest {
        margin-top: 8%;
    }
}