.faves {
    font-size: 24px;
    border-radius: 10px;
    width: 45%;
    border: 1px solid black;
    color: black;
    background-color: whitesmoke;
    box-shadow: 2px 3px #353535;
    cursor: pointer;
}

.noFaves {
    /* font-family: Comic Sans MS, Comic Sans, cursive; */
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
    color: black;
}

.welcome {
    margin-top: 3%;
    font-size: 46px;
    text-align: center;
    color: whitesmoke;
}

.intro {
    text-align: center;
    border: 2px solid #f21905;
    width: 60%;
    margin: 0 auto;
    height: 150px;
    padding-top: 100px;
    font-size: 30px;
    border-radius: 10px;
    background-color:white;
}

.intro-text {
    margin-top: -2%;
}

.result {
    margin-top: -2%;
}

.fave-result {
    margin-top: -7%;
}


.options {
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
}

select {
    font-weight: bold;
    width: 20%;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #f21905;
    color: black;
    cursor: pointer;
}

.start-button {
    font-weight: bold;
    width: 40%;
    height: 31px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #f21905;
    color: black;
    margin-left: 1%;
    cursor: pointer;
}

.extra-option {
    text-align: center;
}

.fave-randomize {
    cursor: pointer;
    font-weight: bold;
    margin-top: 2%;
    width: 60%;
    height: 31px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #f21905;
    color: black;
    background-color: whitesmoke;
}

@media only screen and (max-width: 500px) {

    .welcome {
        margin-top: 10%;
        font-size: 24px;
    }

    .intro-text {
        font-size: 28px;
        padding: 0 6%;
    }

    .results{
        margin-left: 2%;
        margin-right: 2%;
    }

    h3 {
        font-size: 30px;
    }

    .options {
        margin-top: 10%;
    }

    .intro {
        width: 80%;
        height: 200px;
        position: relative;
    }

    select {
        width: 20%;
    }

    .start-button {
        width: 60%;
    }


    li {
        font-size: 16px;
        padding-right: 4px;
    }

    span {
        font-size: 16px;
    }

    .fave-randomize {
        width: 80%;
    }

    .faves {
        width: 80%;
        bottom: 0;
        position: static;
    }

}

@media only screen and (max-width: 900px) and (min-width: 500px) {

    .welcome {
        font-size: 40px;
        margin-top: 10%;
    }

    .intro {
        width: 80%;
        height: 300px;
    }

    .intro-text {
        margin-top: 7%;
    }

    .result, .results {
        margin-top: 7%;
        font-size: 38px;
    }

    select {
        width: 30%;
        font-size: 26px;
        height: 50px;
    }

    .start-button {
        width: 50%;
        font-size: 26px;
        height: 50px;
    }

    li {
        font-size: 24px;
        padding-right: 8px;
    }

    span {
        font-size: 24px;
    }

    .fave-randomize {
        width: 80%;
        font-size: 26px;
        height: 40px;
    }

    .noFaves {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 1050px) and (min-width: 900px) {

    .welcome {
        font-size: 50px;
        margin-top: 15%;
    }

    .intro {
        width: 80%;
        height: 400px;
    }

    select {
        width: 25%;
        font-size: 38px;
        height: 70px;
        margin-right: 1%;
    }

    .start-button {
        width: 45%;
        font-size: 38px;
        height: 70px;
    }

    .fave-randomize {
        width: 60%;
        font-size: 38px;
        height: 70px;
    }

    li {
        font-size: 34px;
        padding-right: 16px;
    }

    span {
        font-size: 34px;
    }

    .noFaves {
        margin-top: 12%;
        font-size: 48px;
    }

    
    .results {
        margin-top: 14%;
        font-size: 42px;
    }

    .faves {
        font-size: 36px;
        width: 50%;
    }

    .intro-text {
        font-size: 42px;
        margin-top: 10%;
    }

}