
.error {
    text-align: center;
    margin: 0 auto;
    font-size: 26px;
    color: #ed2800;
    margin-top: -4%;
}

.login-header {
    font-size: 80px;
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #f21905;
}

input {
    padding-left: 1%;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    height: 75px;
    width: 50%;
    font-size: 30px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 2px 3px #353535;
}

.login-btn {
    display: block;
    margin: 0 auto;
    width: 31%;
    margin-top: 3%;
    border-radius: 10px;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid #f21905;
    box-shadow: 2px 3px #353535;
    padding: 5px;
    cursor: pointer;
}

.back-link {
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-top: 3%;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid #f21905;
    box-shadow: 2px 3px #353535;
    padding: 5px;
    cursor: pointer;
}
/* 
.create {
    font-size: 25px;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
} */

/* .forgot {
    font-size: 25px;
    width: 20%;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 1%;
} */

@media only screen and (max-width: 500px) {

    .login-header {
        margin-top: 25%;
        font-size: 60px;
    }

    input {
        width: 75%;
        font-size: 30px;
        height: 40px;
        margin-bottom: 5%;
    }

    .login-btn {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 57%;
        font-size: 26px;
    }

    .back-link {
        width: 53%;
        font-size: 28px;
    }

    /* .create {
        width: 55%;
        font-size: 18px;
    } */

    /* .forgot {
        width: 75%;
        margin-top: 10%;
    } */

}

@media only screen and (max-width: 900px) and (min-width: 500px) {

    .login-header {
        margin-top: 15%;
        font-size: 80px;
    }

    input {
        width: 75%;
        font-size: 40px;
        height: 60px;
        margin-bottom: 5%;
    }

    .login-btn {
        width: 45%;
        font-size: 30px;
    }

    .back-link {
        width: 44%;
        font-size: 32px;
    }

    /* .create {
        width: 50%;
        font-size: 26px;
    } */

    /* .forgot {
        width: 75%;
        margin-top: 10%;
        font-size: 24px;
    } */

}

@media only screen and (max-width: 1050px) and (min-width: 900px) {

    .login-header {
        margin-top: 15%;
        font-size: 100px;
    }

    input {
        width: 75%;
        font-size: 60px;
        height: 80px;
        margin-bottom: 5%;
    }

    .login-btn {
        width: 45%;
        font-size: 50px;
    }

    .back-link {
        width: 44%;
        font-size: 52px;
    }

}