
.error {
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: -3.4%;
    padding-bottom: 10px;
    font-size: 16px;
    color: #ed2800;
}

.feedme-login {
    display: block;
    margin: 0 auto;
    width: 15%;
    margin-top: 3%;
}


input {
    color: whitesmoke;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    height: 50px;
    width: 30%;
    font-size: 30px;
    border-color: #858585;
    border-top: black;
    border-left: black;
    border-right: black;
    background-color: black;
}

input:focus {
    background-color: black;
}

.login-btn {
    display: block;
    margin: 0 auto;
    width: 30.5%;
    margin-top: 3%;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    padding: 5px;
    cursor: pointer;
}

.guest-button {
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #f21905;
    opacity: 0.45;
    cursor: pointer;
}
/* 
.create {
    font-size: 25px;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
} */

/* .forgot {
    font-size: 25px;
    width: 20%;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 1%;
} */

@media only screen and (max-width: 500px) {

    .feedme-login {
        margin-top: 25%;
        width: 40%;
    }

    input {
        margin-top: 5%;
        width: 60%;
        font-size: 26px;
    }

    .login-btn {
        margin-top: 8%;
        margin-bottom: 5%;
        width: 60%;
        font-size: 26px;
    }

    /* .create {
        width: 55%;
        font-size: 18px;
    } */

    /* .forgot {
        width: 75%;
        margin-top: 10%;
    } */

}

@media only screen and (max-width: 900px) and (min-width: 500px) {

    .feedme-login {
        width: 20%;
    }
    
    input {
        width: 60%;
        font-size: 40px;
        height: 60px;
    }

    .login-btn {
        width: 25%;
        margin-top: 5%;
        font-size: 30px;
        margin-bottom: 5%;
    }


    /* .create {
        width: 50%;
        font-size: 26px;
    } */

    /* .forgot {
        width: 75%;
        margin-top: 10%;
        font-size: 24px;
    } */

}

@media only screen and (max-width: 1050px) and (min-width: 900px) {

    .feedme-login {
        width: 20%;
    }
    
    input {
        width: 50%;
        font-size: 50px;
        height: 80px;
        margin-bottom: 5%;
    }

    .login-btn {
        width: 25%;
        font-size: 40px;
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .guest-button {
        font-size: 28px;
    }

}