.nav-bar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
}

.logout-link {
    text-decoration: none;
    color: #f21905;
}

.favorites-link {
    text-decoration: none;
    color: whitesmoke;
}

li {
    float: right;
    padding-right: 1%;
    font-size: 26px;
    margin-top: 2.5%;
}

span {
    float: left;
    padding-left: 2%;
    margin-top: 2.5%;
    font-size: 26px;
    color: whitesmoke;
}

.nav-logo {
    float: left;
}

@media only screen and (max-width: 500px) {
    
    .nav-logo {
        width: 16%;
    }

    span {
        margin-top: 6%;
        font-size: 18px;
    }

    li {
        font-size: 18px;
        margin-top: 6%;
        padding-right: 10px;
    }

}

@media only screen and (max-width: 900px) and (min-width: 500px) {

    .nav-logo {
        width: 15%;
    }

    span {
        margin-top: 6%;
        font-size: 28px;
    }

    li {
        font-size: 28px;
        margin-top: 6%;
        padding-right: 20px;
    }

}

@media only screen and (max-width: 1050px) and (min-width: 900px) {

    .nav-logo {
        width: 15%;
    }

    span {
        margin-top: 6%;
        font-size: 34px;
    }

    li {
        font-size: 34px;
        margin-top: 6%;
        padding-right: 30px;
    }

}